* {
    font-family: Fjalla One;
    margin: 0;
    border: 0;
    padding: 0;
    color: white;
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 35rem;
    background: url("img/pexels-tbee-82256.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
}

div {
    flex-basis: calc(33.33% - 20px); /* Adjust as needed */
    margin: 10px;
    padding: 10px;
    align-items: center; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 600px) {
    main {
        flex-wrap: nowrap;
    }

    div {
        flex-basis: 33%;
    }
}

th,
td {
    background-color: black;
    padding: 10px;
    white-space: nowrap;
}

th {
    background-color: black;
    color: #ffe221;
}

.headin {
    text-align: center;
    text-decoration: none;
    color:black;
    margin: 30px;
}

.table-container {
    text-align: center;
}

.wpos {
    text-align: center;
}

.wpos td {
    color: #77ff21;
}

.pos {
    text-align: center;
}

.pos td {
    color: #ff7b21;
}

.lpos {
    text-align: center;
}

.lpos td {
    color: #ff0000;
}

table .col {
    border-bottom: 1px solid #FFFFFF;
}

.wpos:hover {
    background-color: #77ff21;
}

.wpos:hover td {
    color: #000000;
}

.pos:hover {
    background-color: #ff7b21;
}

.pos:hover td {
    color: #000000;
}

.lpos:hover {
    background-color: #ff0000;
    ;
}

.lpos:hover td {
    color: #000000;
}
